<footer>
  <div class="content">
    <div class="team-list-row">
      <!-- ^ used to horizontally center the list items based on intrinsic width -->
      <ul class="team-list">
        <li>
          <a href="https://x.com/suprdeclarative" target="_blank"><img src="https://pbs.twimg.com/profile_images/1590972189385203712/wRcIzQnW_400x400.png" class="avatar"> Matt Carroll (@SuprDeclarative)</a>
        </li>
        <li>
          <a href="https://x.com/jezell" target="_blank"><img src="https://pbs.twimg.com/profile_images/1586930381374095360/BmEo1QEq_400x400.jpg" class="avatar"> Jesse Ezell (@jezell)</a>
        </li>
      </ul>
    </div>

    <p class="static-shock-upsell">Generated with <a href="https://staticshock.io">Static Shock</a>.</p>
  </div>
</footer>