<nav>
  <div class="leading">
    <i id="menuButton" class="fa-solid fa-bars"></i>
  </div>

  <ul>
    <li><a href="/flock/get-started">Flock</a></li>
    <li><a href="/nest">Nest</a></li>
    <li><a href="/blog">Blog</a></li>
  </ul>
</nav>