body {
  padding-bottom: 128px;
}

header {
  width: 100%;
  padding-top: 196px;
  padding-bottom: 196px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  display: flex;
  flex-direction: column;
  align-items: center;

  #logo {
    margin-bottom: 16px;
  }

  #divider {
    max-width: 90%;
  }

  .tagline {
    color: #5F4C56;
    font-size: 24px;
    font-weight: 100;
    line-height: 1.8em;
    letter-spacing: 2px;

    text-align: center;
  }
}

#what-is-it {
  margin-top: 72px;
  margin-bottom: 128px;

  .emphasis {
    color: WHITE;
    font-weight: bold;
  }

  color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  font-weight: 200;
  letter-spacing: 2px;
  line-height: 1.4em;
}

h1 {
  padding-bottom: 24px;

  font-size: 34px;

  text-align: center;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.side-note {
  padding: 24px;

  background: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

.post-list {
  .title {
    margin-bottom: 0.5em;

    font-size: 24px;
  }

  .description {
    margin-top: 0.5em;

    font-size: 18px;
  }
}