html, body {
  margin: 0;
  padding: 0;

  background: #252128;

  color: #DDDDDD;
  font-family: Inter, Arial, sans-serif;
}

main {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  padding: 48px;

  line-height: 1.4em;

  li {
    margin-bottom: 1em;
  }
}

h1, h2, h3, h4, h5, h6, h7 {
  margin-top: 3em;
}

a, a:visited {
  color: #D85FA0;
}

pre {
  padding: 24px;

  background: rgba(0, 0, 0, 0.1);

  overflow: scroll;
}