<!--
title: Blog | Flock
description: Blog for the Flock fork of Flutter.
-->
<!doctype html>

<html lang="en" data-bs-theme="light">
<head>
  <meta charset="utf-8">
  <title>{{  title  }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/images/favicon/site.webmanifest">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Open Graph -->
  <meta property="og:title" content="{{ title }}" />
  <meta property="og:description" content="{{ description }}" />
  <meta property="og:url" content="https://getflocked.dev" />
  <meta property="og:image" content="https://getflocked.dev/images/flock_social-media.png" />

  <!-- X/Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@suprdeclarative" />
  <meta name="twitter:title" content="{{ title }}" />
  <meta name="twitter:description" content="{{ description }}" />
  <meta name="twitter:image" content="https://getflocked.dev/images/flock_social-media.png" />

  <link href="/styles/styles.css" rel="stylesheet">
  <link href="/styles/blog-directory.css" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Fira+Mono:wght@400;500;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>

<body>
<header>
  {{ components.navBar() }}

  <img id="logo" src="/images/flock-logo.png" width="96px">
  <img id="divider" src="/images/header-hr.png">
</header>

<main>
  <h1>BLOG</h1>
  <p>The latest news about Flock and Nest.</p>
  <section id="posts">
    <ol class="post-list">
      {% for page in pages.byTag("post", sortBy="publishDate=desc") %}
      <a href="{{ page.data['url'] }}">
        <li>
          <div class="post-synopsis">
            <div class="content">
              {% if page.data['publishDate'] is defined %}
              <span class="publish-date above">{{ page.data['publishDate'] | formatDateTime(to = "MMMM dd, yyyy") }}</span>
              {% endif %}
              <span class="title">{{ page.data['title'] }}</span>
              <p class="description">{{ page.data['description'] }}</p>
              <p>
                <span class="permalink">{{ page.data['url'] }}</span>
              </p>
            </div>
          </div>
        </li>
      </a>
      <div class="divider">&nbsp;</div>
      {% endfor %}
    </ol>
  </section>
</main>

{{ components.footer() }}
</body>
</html>